<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.business.dao.ICostReimburseDao">
	
	<select id="selectPageList" resultMap="CostReimburseMap" parameterType="map">  
        SELECT 
			a.*
			,b.china_name as chinaName
			,b.deptment_id as deptmentName
 		FROM cost_reimburse a
 		left join sys_user_info b on a.user_id = b.user_id
 		where 1=1
 		<if test="userId != null">
 			and a.user_id = #{userId}
 		</if>
 		<if test="costName != null">
 			and a.name = like CONCAT('%',#{costName},'%')
 		</if>
 		<if test="chinaName">
 			and b.china_name like CONCAT('%',#{chinaName},'%')
 		</if>
 		<if test="state != null">
 			and a.state = #{state}
 		</if>
	</select> 
	
	<select id="get" parameterType="int" resultMap="CostReimburseMap">
	    SELECT 
			a.*
			,b.china_name as chinaName
			,b.deptment_id as deptmentName
 		FROM cost_reimburse a
 		left join sys_user_info b on a.user_id = b.user_id where a.id = #{id}
	</select>
	
	<update id="update">
	    update cost_reimburse 
		    set cost_name = #{costName}
		    ,amount = #{amount}
		    ,state = #{state}
		    ,description = #{description}
		where id = #{id}
	</update>
	
	<update id="updateField">
	    update cost_reimburse 
		    <set>
		    <if test="costName != null">
		    	cost_name = #{costName}
		    </if>
		    <if test="amount != null">
		    	,amount = #{amount}
		    </if>
		    <if test="state != null">
		    	,state = #{state}
		    </if>
		    <if test="description != null">
		    	,description = #{description}
		    </if>
		    </set>
		where id = #{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from cost_reimburse where id = #{id}
	</delete>
	<insert id="insert" parameterType="CostReimburse" useGeneratedKeys="true" keyProperty="id">
	    insert into cost_reimburse(
	    	user_id,cost_name,amount,create_time,state,description
	    )  values(
	    	#{userId},#{costName},#{amount},#{createTime},#{state},#{description}
	    )
		<!-- <selectKey keyProperty="id" resultType="int" order="AFTER">  
	        select max(id) from cost_reimburse
	    </selectKey>  -->
	</insert>
	<!-- 费用项 -->
	<select id="selectCostItems" parameterType="int" resultMap="CostItemMap">
		select * from cost_item where cost_id = #{costId}
	</select>
	<!-- java.util.List -->
	<insert id="addCostItems" useGeneratedKeys="true" parameterType="map">  
	    insert into cost_item (cost_id,item_name,category,amount)   
	    values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{costId},#{item.itemName},#{item.category},#{item.amount})  
	    </foreach>  
	</insert> 
	<delete id="delCostItems" parameterType="int">
		delete from cost_item where cost_id = #{costId}
	</delete>
	<resultMap type="CostItem" id="CostItemMap">
		<result property="id" column="id"/>
		<result property="costId" column="cost_id"/>
		<result property="itemName" column="item_name"/>
		<result property="category" column="category"/>
		<result property="amount" column="amount"/>
	</resultMap>
	
	<resultMap type="CostReimburse" id="CostReimburseMap">
		<result property="id" column="id"/>
		<result property="costName" column="cost_name"/>
		<result property="userId" column="user_id"/>
		<result property="chinaName" column="chinaName"/>
		<result property="deptmentName" column="deptmentName"/>
		<result property="amount" column="amount"/>
		<result property="createTime" column="create_time"/>
		<result property="state" column="state"/>
		<result property="description" column="description"/>
		<collection property="itemList" column="item_id" ofType="CostReimburse">
			<id property="id" column="item_id"/>
			<result property="itemName" column="item_name"/>
			<result property="category" column="category"/>
			<result property="amount" column="amount"/>
		</collection>
	</resultMap>
</mapper>	
