<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.business.dao.ICostReimburseDao">
	
	<select id="selectPageList" resultMap="CostReimburseMap" parameterType="map">  
        SELECT 
			a.*
			,b.name
 		FROM cost_reimburse a
 		left join sys_user_info b on a.user_id = b.user_id
 		where 1=1
 		<if test="userId != null">
 			and a.user_id = #{userId}
 		</if>
 		<if test="costName != null">
 			and a.name = like CONCAT('%',#{costName},'%')
 		</if>
 		<if test="chinaName">
 			and b.china_name like CONCAT('%',#{chinaName},'%')
 		</if>
 		<if test="state != null">
 			and a.state = #{state}
 		</if>
	</select> 
	
	<select id="get" parameterType="string" resultMap="CostReimburseMap">
	    SELECT 
			a.*
			,b.name
 		FROM cost_reimburse a
 		left join sys_user_info b on a.user_id = b.user_id where id = #{id}
	</select>
	
	<update id="update">
	    update cost_reimburse 
		    set cost_name = #{costName}
		    ,amount = #{amount}
		    ,create_time = #{createTime}
		    ,state = #{state}
		    ,description = #{description}
		where id = #{id}
	</update>
	
	<update id="updateField">
	    update cost_reimburse 
		    <set>
		    <if test="costName != null">
		    	cost_name = #{costName}
		    </if>
		    <if test="amount != null">
		    	,amount = #{amount}
		    </if>
		    <if test="createTime != null">
		    	,create_time = #{createTime}
		    </if>
		    <if test="state != null">
		    	,state = #{state}
		    </if>
		    <if test="description != null">
		    	,description = #{description}
		    </if>
		    </set>
		where id = #{id}
	</update>
	
	<insert id="insert" parameterType="CostReimburse" keyProperty="id">
	    insert into cost_reimburse(
	    	user_id,cost_name,amount,create_time,state,description
	    )  values(
	    	#{userId},#{costName},#{amount},#{createTime},#{state},#{description}
	    )
		<selectKey keyProperty="id" resultType="String" order="AFTER">  
	        select max(id) from cost_reimburse
	    </selectKey> 
	</insert>
	<resultMap type="CostReimburse" id="CostReimburseMap">
		<result property="id" column="id"/>
		<result property="costName" column="cost_name"/>
		<result property="userId" column="user_id"/>
		<result property="amount" column="amount"/>
		<result property="createTime" column="createTime"/>
		<result property="state" column="state"/>
		<result property="description" column="description"/>
		<collection property="itemList" column="item_id" ofType="com.admin.business.model.CostReimburse">
			<id property="id" column="item_id"/>
			<result property="itemName" column="item_name"/>
			<result property="category" column="category"/>
			<result property="amount" column="amount"/>
		</collection>
	</resultMap>
</mapper>	
